.background {
	position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.component {
    position: relative;
    min-width: 40%;
    max-width: 80%;
    padding: 20px;

    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    overflow: auto;
}

.xBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background-color: transparent;
    margin: 10px;
}

.yesBtn {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 5px;
    width: 120px;
}

.yesBtn:hover {
    background-color: var(--green);
    color: white;
}

.yesBtn:active {
    background-color: var(--green-active);
    border: 1px solid var(--green-active);
    color: white;
}

.buttonsSection p {
    text-align: center;
    font-weight: bold;
}

.error {
    color: var(--red);
}
