.background {
	position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.component {
    position: relative;
    min-width: 40%;
    max-width: 80%;
    max-height: 80%;
    padding: 20px;

    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    overflow-x: auto;
    width: 100%;
}

.xBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background-color: transparent;
    margin: 10px;
}

.yesBtn {
    color: var(--grey);
    background-color: transparent;
    border: 1px solid var(--grey);
    border-radius: 5px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.yesBtn:hover {
    background-color: var(--grey);
    color: white;
}

.yesBtn:active {
    background-color: var(--grey-active);
    border: 1px solid var(--grey-active);
    color: white;
}

.noBtn {
    color: var(--red);
    background-color: transparent;
    border: 1px solid var(--red);
    border-radius: 5px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.noBtn:hover {
    background-color: var(--red);
    color: white;
}

.noBtn:active {
    background-color: var(--red-active);
    border: 1px solid var(--red-active);
    color: white;
}

.planBtn {
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--green);
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.planBtn:hover {
    background-color: var(--green);
    color: white;
}

.planBtn:active {
    background-color: var(--green-active);
}

.buttonsSection p {
    text-align: center;
    font-weight: bold;
}

.error {
    color: var(--red);
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.multiStepContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--green);
}

.green {
    background-color: var(--green);
    color: white;
}

.plans {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.important {
    color: white;
    text-decoration: underline;
    line-height: 100%;
    text-align: center;
    font-weight: bold;
}

.active {
    background-color: var(--green);
    color: white;
    border-radius: 10px;

}

.show {
    display: block;
}

.hide {
    display: none;
}

.invoiceScroll {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.invoicePosition {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 100%;
    height: 60px;
}

.deleteBtn {
    background-color: transparent;
    border: none;
    color: red;
    border: 1px solid red;
    padding: 5px 10px;
}

.deleteBtn:hover {
    background-color: red;
    color: white;
}

.deleteBtn:active {
    background-color: rgba(255, 0, 0, 0.538);
    border: 1px solid rgba(255, 0, 0, 0.538);
    color: white;
}