.contener {
    width: 100%;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.component {
    background-color: white;
    width: 90%;
    min-height: 150px;
    margin: 1px;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.previewButton {
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 5px;

    color: var(--grey);
    border: 1px solid var(--grey);
}

.previewButton:hover {
    background-color: var(--grey);
    color: white;
}

.previewButton:active {
    background-color: var(--grey-hover);
    border-color: var(--grey-hover);
}

.deleteButton {
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 5px;

    color: var(--red);
    border: 1px solid var(--red);
}

.deleteButton:hover {
    background-color: var(--red);
    color: white;
}

.deleteButton:active {
    background-color: var(--red-active);
    border-color: var(--red-active);
}

.name {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nip {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.preview {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.delete {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.marginBottom {
    background-color: var(--green);
}

.marginBottom p {
    color: white;
    font-weight: bold;
}

.error {
    color: var(--red);
}

.buttonSection {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.xIcon {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 15px;
    right: 15px;
}

dl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}