.contener {
    width: 100%;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.component {
    background-color: white;
    width: 90%;
    min-height: 150px;
    margin: 1px;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.previewButton {
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 5px;

    color: #444;
    border: 1px solid #444;
}

.previewButton:hover {
    background-color: #444;
    color: white;
}

.previewButton:active {
    background-color: #444444a6;
    border-color: #444444a6;
}

.deleteButton {
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 5px;

    color: red;
    border: 1px solid red;
}

.deleteButton:hover {
    background-color: red;
    color: white;
}

.deleteButton:active {
    background-color: rgba(255, 0, 0, 0.692);
    border-color: rgba(255, 0, 0, 0.692);
}

.name {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nip {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.preview {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.delete {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.underline {
    text-decoration: underline;
}

.marginBottom {
    background-color: var(--main-color);
}

.marginBottom p {
    color: white;
    font-weight: bold;
}

.error {
    color: red;
}

.modalBgc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.52);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;
    background-color: white;
    border-radius: 10px;
    min-width: 50%;
    max-height: 80%;
    overflow-y: auto;
}

.buttonSection {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.xIcon {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 15px;
    right: 15px;
}