.bgc {
    width: 100vw;
    height: auto;
    background-color: white;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 10%;
    max-height: 100px;
}

.logoButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    width: 200px;
}

.logo {
    height: 80%;
}

.main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    width: 1300px;
    height: auto;

    background-color: white;
    box-shadow: 0px 0px 50px lightgrey;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	
	width: 50%;
	min-width: 300px;
}

h1 {
	color: #636b2f;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
}

p {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.error {
	color: rgb(228, 10, 101);
}

.registerBtn {
	display: inline;
	font-size: inherit;
	background-color: #fff;
	color: #c1ca87;
	border: none;
	line-height: 20px;
}

.registerBtn:hover {
	color: #c1ca87b7;
}

.registerBtn:active {
	color: #c1ca8770;
}

label {
	display: flex;
	flex-direction: column;
}

input {
	border: 1px solid lightgrey;
	margin: 10px 0px;
	width: 100%;
}

.passwordForgotBtn {
	font-size: 10px;
	margin-bottom: 20px;

    background-color: white;
    border: none;
    color: #636b2f;
}

.passwordForgotBtn:hover {
    color: #636b2fac;
}

.passwordForgotBtn:active {
    color: #636b2f69;
}

.loginBtn {
	margin: 20px;
	width: 200px;

	background-color: #636b2f;
	color: white;
	border: none;
    border-radius: 5px;
}

.loginBtn:hover {
    background-color: #636b2fc2;
}

.loginBtn:active {
    background-color: #636b2f6c;
}
