.main {
	width: 100%;
	height: 100%;

    display: flex;
}

.sectionHead {
	background-color: var(--main-color);
	width: 90vw;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-bottom: 40px;
}

.sectionHead h1, .sectionHead label, .sectionHead p {
	color: white;
	font-weight: bold;
}

input {
	color: #444;
	
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
	width: 100%
}

.horizontal {
    display: flex;
    justify-content: center;
}

label {
    width: 200px;
    margin: 0px 20px;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	min-height: 100%;
    width: 100vw;
	margin: 10px;;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	height: 10%;
	max-height: 100px;
    background-color: #fff;
    padding: 20px;
}

.logoButton {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
	width: 200px;
}

.logo {
	height: 80%;
}

.userButton {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}

h1 {
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	margin: 20px;
}

p {
	text-align: center;
}

.error {
	color: #f22613;
}

.tile {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 30%;
	height: 350px;
	padding-top: 50px;
	border-radius: 10px;
	text-align: center;
	background-color: #fff;
}

.tile p{ 
	font-size: 30px;
}

.createInvoiceButton {
	background-color: #f8c705;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 20px;
	border: none;
}

.createInvoiceButton:hover {
	background-color: #ffde21b1;
}

.createInvoiceButton:active {
	background-color: #ffde2176;
}

.statisticHeader {
	width: 100%;
	height: 40%;

	text-align: center;
}

.statistic {
	width: 100%;
	height: 60%;
	font-size: 60px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.footer {
	height: 200px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.component {
    background-color: white;
    width: 90%;
    min-height: 150px;
    margin: 10px;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.marginBottom {
    background-color: var(--main-color);
}

.marginBottom p {
    color: white;
    font-weight: bold;
	text-decoration: underline;
}

.statisticsSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.statistics {
	width: 90%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
