@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', serif;
}

html,
body {
	height: 100%;
	font-size: 20px;
}

/* APLIKACJA */
h1 {
	color: white;
}
.app {
	display: flex;
	min-height: 100vh;
    min-width: 100vw;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	background: -webkit-linear-gradient(
		to right,
		#23074d,
		#cc5333
	);
	background: linear-gradient(to right, #23074d, #cc5333);
}

.app-form {
	width: 70vw;
    min-width: 400px;
	background-color: white;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
    padding: 20px;
	margin: 20px;
}

.app-button {
	width: 200px;
	height: 70px;
	background-color: #cc5333;
	color: white;
	border: none;
	border-radius: 20px;
	margin: 20px;
	font-size: 20px;
}

.app-button:hover {
	background-color: #cc5433ba;
}

.app-button:active {
	background-color: #cc54337d;
}

.app-label {
	width: 80%;
	display: flex;
	justify-content: space-between;
    color: #cc5333;
    margin: 10px;
}

.app-input-button-div {
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin: 10px;
	color: #cc5333;
}

.app-input-button {
	padding-left: 10px; 
	padding-right: 10px;
	border: none;
	background-color: grey;
	color: white;
}

.app-input-button:hover {
	background-color: rgba(128, 128, 128, 0.66);
}

.app-input-button:active {
	background-color: rgba(128, 128, 128, 0.284);
}

.app-font-button {
	padding-left: 10px; 
	padding-right: 10px;
	border: none;
	background-color: white;
	color: grey;
}

.app-font-button:hover {
	color: rgba(128, 128, 128, 0.66);
}

.app-font-button:active {
	color: rgba(128, 128, 128, 0.284);
}

.app-font-button-underline {
	border-bottom: 1px solid grey;
}

.app-border-button {
	padding-left: 10px; 
	padding-right: 10px;
	border: none;
	background-color: white;
	color: grey;
	font-weight: bold;
	border-bottom: 1px solid white;
}

.app-border-button:hover {
	border-bottom: 1px solid grey;
}

.app-border-button:active {
	border-bottom: 1px solid rgba(128, 128, 128, 0.599);
	color: rgba(128, 128, 128, 0.599);
}

.app-input {
	margin-left: 10px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	font-size: 20px;
	color: grey;
}

.app h2 {
	color: #23074d;
    margin-bottom: 20px;
}

.app h3 {
	color: #23074d;
    margin-bottom: 20px;
}

.app h1 {
    margin-top: 20px;
	font-size: 40px;
}

.app-h1-button {
	background: none;
	border: none;
	color: white;
	font-size: 40px;
	font-weight: bold;
}

.app-error {
	color: red;
}

.app-paragraph {
	color: #23074d;
}

.app-visible {
	opacity: 1;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
}

.app-hidden {
	opacity: 0;
	max-height: 0;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
}

.app-menu-bar-positioning {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.app-header-positioning {
	position: absolute;
	left: 50vw;
	transform: translateX(-50%);
}

/* MAIN */
.main {
	justify-content: flex-start;
}

.main > h1 {
	margin: 30px;
}

.main > h2 {
	color: white;
}

.main-button {
	background-color: white;
	color: #23074d;
}

.main-button:hover {
	background-color: rgba(255, 255, 255, 0.642);
}

.main-button:active {
	background-color: rgba(255, 255, 255, 0.284);
}

/* MENU */
.menu-button {
	background-color: #23074d;
}

/* INVOICE */
.invoice {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 70vw;
}

.invoice-subject {
	max-width: 45%;
}

.invoice-font {
	color: #23074d;
	margin: 10px;
}


/* INVOICE FORM */
.invoice-view {
	width: 210mm;
	height: 297mm;
	font-size: 12px;
	background-color: white;
	padding: 10px;
}

.invoice-view-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0px;
}

.invoice-view-companies-data {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 100px 0px;
}

.invoice-view-grey {
	background-color: lightgrey;
}

.invoice-view-table {
	display: flex;
	justify-content:space-between;
	margin: 100px 0px;
}

.invoice-view-thead {
	background-color: lightgrey;
}

.invoice-view-td {
	text-align: center;
}

.invoice-view-sum {
	background-color: lightgrey;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 100px 10px;
}

.invoice-view-signatures {
	display: flex;
	justify-content: space-around;
	margin: 100px 0px;
}

.invoice-view-signature {
	width: 200px;
	border-bottom: 1px solid black;
}

/* MENU BAR */
.menu-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* ADD INVOICE POSITION */
.add-invoice-position-display-all {
	margin-bottom: 30px;
}

th ,td {
	color: black;
}

.invoice-view-table {
	display: flex;
	flex-direction: column;
}

.add-invoice-position-delete-button {
	background-color: white;
	border: none;
	color: red;
}

.add-invoice-position-delete-button:hover {
	border-bottom: 1px solid red;
}

.add-invoice-position-delete-button:active {
	border-bottom: 1px solid rgba(255, 0, 0, 0.455);
	color: rgba(255, 0, 0, 0.455);
}

/* user data */
.user-data {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
}

/* user icon */
.user-icon:hover {
	fill: rgba(255, 255, 255, 0.666);
}

.user-icon:active {
	fill: rgba(255, 255, 255, 0.263);
}

.svg-button {
	background: transparent;
	border: none;
}

.space-between {
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.h2-white {
	color: white !important;
}

.delete-button {
	background-color: red;
	border: none;
}

.delete-button:hover {
	background-color: rgba(255, 0, 0, 0.776);
}

.delete-button:active {
	background-color: rgba(255, 0, 0, 0.5);
}

.invoice-header {
	color: black;
}