@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --green: #83DE04;
	--green-hover: #83de048d;
	--green-active: #83de0464;

	--grey: #444;
	--grey-hover: #4444448d;
	--grey-active: #44444464;

	--red: #FA003F;
	--red-hover: #fa003e8d;
	--red-active: #fa003e64;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', serif;
	background: rgb(240, 239, 239);
}

html,
body {
	height: 100%;
	font-size: 20px;
}

h1, h2, p {
	color: var(--grey-color);
}
